#include "resource.h"
/////////////////////////////////////////////////////////////////////////////
//
// Icon
//

huangicon               ICON         "icon1.ico"

/////////////////////////////////////////////////////////////////////////////
//
// Cursor
//

huangcursor             CURSOR      "cursor1.cur"



